  body {
    background-color: #fdfbda;
  }

  hr {
    background-color: #fdfbda;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }
